

v-navigation-drawer,
p,
v-card-title,
h1,
h2,
h3,
h4,
h5 {
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer */
  -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}

iframe {
  display: block;
  width: 100vw;
  max-width: 100%;
  height: 50vh;
  margin: 0;
  padding: 0;
  border: 0 none;
  box-sizing: border-box;
}